@import "../fonts/freight-display/font.css";
@import "../fonts/ff-bau/font.css";

body {
  font-size: 14px;
  font-family: "FF Bau", Arial;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

@media only screen and (min-width: 767px) {
  .topleftnavigation {
    display: none;
  }
}
