@import "../fonts/freight-display/font.css";
@import "../fonts/ff-bau/font.css";

body {
  font-size: 14px;
  font-family: "FF Bau", Arial;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

.topleftnavigation {
  display: none !important;
}

.toprightnavigation {
  width: auto !important;
}

.account {
  display: none !important;
}

@media only screen and (min-width: 767px) {
  .topleftnavigation {
    display: flex !important;
  }

  .toprightnavigation {
    width: 72.5% !important;
  }

  .account {
    display: block !important;
  }
}
